html{
  width: 100%;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 1080;
}
h1{
  text-align: center;
}
.rows{
  display: flex;
  flex-direction: column;
}
.container{
  width: 100%;
}
.center{
  text-align: center;
  grid-column: 2/3
}
.all{
  grid-column: 1/4
}
#top{
  height: calc(100vh - 4em);
  padding-top: 10vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr minmax(0,687.5px) 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
}
#top a.container img{
  width:100%;
  box-sizing: border-box;
  padding: 0 20px ;
}
#sinker{
  text-align: center;
}
#sinker a{
  color: #79bdd9
}
nav{
  display: none;
}
button{
  border-radius: 10px;
  box-shadow: 0;
}
