/*Title Fonts */
@import url('https://fonts.googleapis.com/css?family=Manuale|Share+Tech+Mono|Ubuntu+Mono');

/*Text Fonts */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Josefin+Slab|Lora|Old+Standard+TT|Playfair+Display');

/*CSS for the accordion */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-family:"Manuale";
    font-size:3vw;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-text{
  font-size:3vw;
  margin:20px;
  text-align:center;
  font-family:"Old",Standard,TT;
}

.services-container {
   margin:10vw;
   margin-top:5vw;
}

/*Changes the responsiveness basis for the fonts after tablet view*/
@media(min-width:600px) {

  button.accordion {
    font-size:2vw;
}

  .accordion-text{
    font-size:1.5vw;
}



}

/*ENDS */

/*CSS For the list in the education panel */

.list-container {
  margin:auto;
  width:50%
}


.services-list {
  list-style-type:circle;
}

.services-list li {
  margin-bottom:20px;
  font-size:2.5vw;
}

/*ENDS*/

/*CSS For the title*/
.title-container {
  margin:auto;
  width:50%;

}

.services-title {
    font-family:"Manuale";
    font-size:4vw;
    margin: 4vw 0 0 7vw;
}

@media (min-width:600px) {

  ul li {
   font-size:1.5vw;

  }

}

hr {
	  height:5px;
    background-color:lightskyblue;
    border:none;
    border-radius:3px;
    width:40vw;
    margin: 2vw 0 0 2vw;
}

